body{
    background-color: darkgrey;
}
nav, header, .contenedor, footer{
    max-width: 92%;
    margin: auto;
}
nav{    
    background-color: rgba(187, 255, 0, 0.918);
    text-align: center;
} 
header{
    background-color: white;
    border-image-repeat: space;
    text-align: center;
    text-decoration: none;
    padding: 1.0em 1em;
}
.contenedor{
    background-color: red;
}
.centrar{
    background-color: chocolate;
    display: inline-block;
    max-width: 65%;
}
footer{
    background-color: darkgreen;
}
aside{
    background-color: lightcoral;
    display: inline-block;
    max-width: 34%;
}
/* MENU*/
.menu li{
    display: inline-block;
}
li a, boton{
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 1.0em 1em;
}
.listaDesplegable{
    display: none;
    background-color: ghostwhite;
    position: absolute;
}
.listaDesplegable a{
    color: black;
    display: block;
    text-align: left;
}
.boton:hover .listaDesplegable{
    display: block;
}
li a:hover{
    background-color: red;
}
